*{
    background:linear-gradient(rgb(201, 3, 219), rgb(71, 3, 117), rgb(3, 110, 12), rgb(5, 197, 15));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
h1{
    text-align: center;
margin-bottom: 20vh;
}