body{

    background-color: gray;
}
a{
    color: green;
}

img{
margin-left: 55vh;
}

h1{
margin-left: 55vh;
}
button{
    border: 20vh;
    margin-top: 10vh;
    margin-left: 45vh;
    margin-right: 20vh;
    margin-bottom: 20vh;
}
